.bg-img{
    background-image: url('https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?t=st=1715849832~exp=1715853432~hmac=16c635c165ca5d33ebe6dd489f19247e3a6f4b09e4453c28105dc9479b9394ea&w=826');
    background-size: cover;
    color: white;
}